:root{
    --dark-red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --white-rose: hsl(20, 50%, 98%);
    --faded-rose: hsl(13, 31%, 94%);
    --greyish-rose: hsl(14, 25%, 72%);
    --darker-rose:hsl(7, 20%, 60%);
    --light-brownish-rose: hsl(12, 20%, 44%);
    --deep-dark-brown: hsl(14, 65%, 9%);
    --product-font-size: 16px;
    --font-family:"Red Hat Text", sans-serif;

}
body{
    font-family: var(--font-family);
    background-color: #FCF8F5;
}
.container{
    box-sizing: border-box;
    display: flex;
    padding: 40px;
    
}
.left-side-container{
    flex: 2;
    padding: 8px;
    
}
.right-side-container{
    background-color: white;
    flex: 1;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
}
.right-side-container h2{
    color: var(--dark-red);
    text-align: left;
}
.right-side-container p{
    color: var(--darker-rose);
    font-weight: 500;
    font-size: 18px;
}
.left-side-container h1{
    color: var(--deep-dark-brown);
    font-size: 2.5rem;
}

#menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.menu-item{
    display: flex;
    flex-direction: column;
}