:root{
    --dark-red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --white-rose: hsl(20, 50%, 98%);
    --faded-rose: hsl(13, 31%, 94%);
    --greyish-rose: hsl(14, 25%, 72%);
    --darker-rose:hsl(7, 20%, 60%);
    --light-brownish-rose: hsl(12, 20%, 44%);
    --deep-dark-brown: hsl(14, 65%, 9%);
    --product-font-size: 16px;
    --font-family:"Red Hat Text", sans-serif;

}
body{
    font-family: var(--font-family);
    background-color: #FCF8F5;
}
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.left-side-container{
    background-color: blueviolet;
    height: 100vh;
    
}
.right-side-container{
    background-color: cadetblue;
    height: 100vh;
    
}